@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 160mm;

    padding: 50px;
    padding-left: 25mm;
    padding-right: 25mm;

    border: 1px #ddd solid;
    box-shadow: 5px 5px 25px #eee;

    font-family: 'Lora', serif;
    font-size: 10pt;
    line-height: 130%;
    color: #333;
    text-align: justify;
}

h1 {
    color: #1c6aaf;
    font-size: 175%;
    font-weight: 700;
}

h2 {
    color: #1c6aaf;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20pt;
    margin-bottom: 6pt;
    border-bottom: 1pt #ddd solid;
}

h3 {
    font-weight: 700;
    font-size: 110%;
    color: black;
    margin-bottom: 6pt;
    margin-top: 16pt;
    padding-bottom: 0pt;
}

#date {
    float: right;
    font-weight: 400;
    font-size: 90%;
}

ul {
    padding-left: 12pt;
}

ul li {
    padding-top: 0pt;
    padding-bottom: 6pt;
}

table, tbody, colgroup {
    border: none;
    margin: auto;
}
